.card-container {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d4d4d4, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d4d4d4, -12px -12px 24px #ffffff;
}

.service-button {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d4d4d4, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d4d4d4, -12px -12px 24px #ffffff;
}